#course{
    
    border-style: solid;
    border-radius: 25px;
    width: 65%;
    position: relative;
    padding: 0px 10px 15px 20px;
    text-align: left;
    margin: 25px 300px;
   
}


.addCourse
{
    right: 20px;
    top: 100px;
    position: fixed;
    z-index: 100;
}

